@import './fonts.css';

:root {
  --font-heading: 'Fredoka', sans-serif;
  --font-body: 'Nunito', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-heading);
  font-weight: 600;
}
